/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Global Styles
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #0F1322;
}

hr {
	margin: 0px auto;
	width: 15%;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Quake Main Section
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
#main-page-section {
	z-index: 999;
	//background-image: url('images/macbook-bg.png');
	background-image: url('images/trippy3.gif');
  	background-size: cover;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Quake Navbar
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.navbar-item {
	background-color: transparent !important;
}

.primary-menu-links {
	font-size: 13px;
	font-weight: 700;
	color: #fff;
}

.primary-menu-links:hover {
	color: #fff !important;
}

.quake-nav {
	padding: 10px;
	color: #fff;
}

.quake-logo img {
	width: 90px;
}

.main-menu-btn:1st-child: {
	margin: 0 10px;
}

.main-menu-btn {
	color: #fff !important;
	font-weight: 700;
	-webkit-box-shadow: 6px 6px 11px -8px #000000; 
	box-shadow: 6px 6px 11px -8px #000000;
	height: 38px;
	border: none;
}

.hero-body {
	text-align: center;
}

.buy-now-btn {
	background-color: #008FFE !important;
	-webkit-box-shadow: 6px 6px 11px -8px #000000; 
	box-shadow: 6px 6px 11px -8px #000000;
}

.learn-more-btn {
	-webkit-box-shadow: 6px 6px 11px -8px #000000; 
	box-shadow: 6px 6px 11px -8px #000000;
	margin: 0 10px;
}

.welcome-msg {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}

.about-us-msg {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

.purchase-terms {
	padding: 20px 0;
	width: 250px;
	margin: 0 auto;
	color: #fff;
	font-size: 8px;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Features Section
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.features-section {
	padding: 50px 0;
	background-color: #14182B;
	text-align: center;
}
.feature-section-title {
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}

.featurette-container {
	padding: 20px;
	text-align: left;
	color: #fff;
	border-radius: 10px;
	margin: 20px;
	background-color: #313957;
}

.featurette-container h3 {
	padding: 10px 0;
	font-weight: 700;
	font-size: 18px;
}

.featurette-text {
	font-weight: 300;
	color: #fff;
	//color: rgba(215,215,215,0.7);
}

.icon-container {
	font-weight: 300;
	border-radius: 5px;
	padding: 10px;
	width: 45px;
	height: 45px;
}

.blue-bg { background-color: #2D59EE; }
.green-bg{ background-color: #0BAB6E; }
.red-bg { background-color: #D30D0C; }
.purple-bg { background-color: #8050E3; }
.yellow-bg { background-color: #DDAA43; }
.teal-bg { background-color: #1AE6DA; }

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
FAQS Section
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.faqs-section {
	color: #fff;
	padding: 50px 0;
	text-align: center;
	background-color: #0F1322;
} 

.faqs-section-title {
	color: #fff;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Testimonials
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.testimonials-section {
	padding: 50px 0;
	background-color: #14182B;
	text-align: center;
}
.testimonials-section-title {
	color: #fff;
}

.testimonial-container {
	text-align: center;
	color: #fff;
	border-radius: 10px;
	margin: 20px;
	background-color: #313957;
}

.testimonial-container p {
	font-weight: 300;
	color: #fff;
}

.testimonial-photo {
	border: 3px solid #0E80AA;
	border-radius: 100px;
	width: 100px;
	height: 100px;
}

.testimonial-container h3 {
	padding: 10px 0;
	font-weight: 700;
	font-size: 18px;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Recap Section
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.recap-section {
	background-image: url('images/trippy3.gif');
	background-size: cover;
	padding: 125px 0;
	background-color: #14182B;
	text-align: center;
}

.get-started-btn {
	color: #fff;
	font-weight: 700;
}

/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Footer
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
footer {
	background-color: #fff;
	font-size: 12px;
	font-weight: 700; 
	text-align: center;
	color: #000;
	padding: 20px 0;
}

.footer-logo {
	margin: 0 auto;
	width: 80px;
}

.footer-link-container {
	font-weight: 500;
	width: 35%;
	margin: 0 auto;
}

.footer-link-container a {
	color: #000;
}

.disclaimer {
	margin: 0 auto;
	width: 80%;
	font-weight: 300;
	font-size: 10px;
}

.quake-copyright {
	padding: 20px 0;
	font-weight: 500;
}